# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/
my_venv/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Notebooks / generated training output
.ipynb_checkpoints/
Logs/
logs/
runs/
checkpoints/

# Large raw datasets should be stored outside normal Git or with Git LFS
WLASL_300/
landmarks_300/

# Local secrets
.env
*.env
